@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    /* background-color: red; */
}

.logo img{
    width: 100px;
}

header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;


    

}
header ul{
    list-style-type: none;

}
header ul li{
    display: inline-block;
}
header ul li a{
    color: #1e266d;
    text-decoration: none;
    padding: 0 14px;
    transition: 0.3s all ease;
}
header ul li a:hover{
    color: #1e266d;
    font-weight: bold;
}
/* right side =========== */

.right-side a{
    text-decoration: none;
    color: #ffffff;
    background-color: #2e367d;
    padding: 13px 20px;
    margin-right: 3px;
    outline: none;
    border: none;
    transition: 0.3 ease;
}
.right-side a i{
    margin-right: 3px;
}
.right-side a:hover{
    color: white;
    background-color: #00AEEF;

}
/* global css start from here ======== */

.container{
    width: 80%;
    margin: 0 auto;
}
.color{
    color: #1e266d;
}

/* banner area start from here ================= */
main{
     /* background-color: rgb(17, 16, 16); */
     margin-top: 40px;
}
.banner-area{
    width: 100%;
    height: 100vh;
}
.banner{

    display: flex;
    justify-content: center;
    align-items: center;

}
.left-content{
    width: 50%;
    margin-left: 20px;
}

.left-content h1{

    color: #1e266d;
    font-size: 50px;
}
.left-content p{
    color: grey;
    margin-top: 10px;
    margin-bottom: 30px;
}
.left-content span{
    color: #2335db;
    font-weight: 900;
}
.left-content a{
    text-decoration: none;
    cursor: pointer;
    padding: 15px 30px;
    background-color: #1e266d;
    transition: 0.3 ease;
    
    color: #ffffff;
}

.left-content a:hover{
    background-color: #00AEEF;
}
.right-content{
    width: 40%;
}
.right-content img{
    width: 70%;
    margin: 0;

}

/* prtfolio section start from here ==================== */

.my-port-head h1{
    color: #1e266d;
    font-size: 50px;
    text-align: center;
    margin-top: 100px; 
}
.row{

    display: flex;
    align-items: center;
    justify-self: center;
}
.col{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

/* my service section start from here ---------------------------------------- */
.h1{
    color: #1e266d;
    font-size: 50px;
    text-align: center;
    margin-top: 100px; 
}
.c1{
    color:rgb(102, 121, 206) ;
}
.c2{
    color:#12c2e0 ;
}
.c3{
    color:#1688bd ;
}
.heading1{
    color:rgb(102, 121, 206) ;
}
.heading2{
    color:#12c2e0 ;
}
.heading3{
    color:#1688bd ;
}
.btn{
    padding: 10px 20px;
    text-decoration: none;
    
    cursor: pointer;
    background-color: #00AEEF;
    color: white;
}
.my-service .col{
    /* border: 3px solid #00AEEF; */
    padding:50px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color:gray ;
    text-align: center;
}
.my-service .col p{
    margin-bottom: 40px;
}


/* my blog section start from here ============== */

#blog{
    margin-top: 100px;
}

#blog h5{
    text-align: center;
    color: #00AEEF;
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;

}
#blog h1{
    text-transform: uppercase;
    text-align: center;
    color: #1e266d;
    font-size: 40px;
    margin: 10px 0 30px 0;

}
.my-blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-blog{
    overflow: hidden;
    width: 31%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s linear;   
}
.single-blog:hover{
    transform: translateY(-4px);
}
.blog-img{
    width: 100%;
}
.blog-img img{
    
    transition: 0.3s linear;   
    overflow: hidden;
    width: 100%;
    object-fit: cover;

}
.blog-img img:hover{
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}


.blog-content{
    padding: 20px;
}
.blog-content h3{
    text-transform: capitalize;
    color: #1e266d;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 35px;

}
.blog-content .btn{
    border: none;
    outline: none;
    background-color: #1e266d;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 0.3s ease;
}
.blog-content .btn:hover{
    background-color: #00AEEF;
    color: black;
}
 /* blog section end from here  */

/* client section start from here  */

.my-client{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.single-client{
    width: 30%;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s linear;   

}
.single-client:hover{
    transform: translateY(5px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.client-img{
    width: 100%;
    object-fit: cover;

}
.client-img img{
    width:70px ;
    height: 70px;
    border-radius:50%;
    text-align: center;
    margin-top: 20px;

}
.client-content i{
    color:#1e266d;
    margin: 10px 0;
}
.client-content .name{
    color: #1e266d;
    font-size: 16px;
    text-transform: capitalize;
}
.client-content p{
    padding: 14px;
    font-size: 15px;
}
/* client section end here  */


/* my courses section start from here // */
#my-course{
    margin-top: 30px;
}
.bg-img{
    background-image:linear-gradient(rgba(0,9,7,0.5),rgba(5,6,6,0.6)), url("../images/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 30px;
}
.bg-img h1{
    color:white;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}
.bg-img p{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding:0 0 30px 0;
    line-height: 40px;
}
.course-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-course{
    width: 30%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s linear;   
    position: relative;
    margin-bottom: 20px;
    
}
.single-course:hover .overlay{
    visibility: visible;
}
iframe{
    width: 100%;
}
.video-content{
    padding: 10px 20px;
    
}
.overlay{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    transition: 0.7s ease;
    
}
.btn{
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.4s linear;
}
/* my courses seciton end here  */

/* my offer course ---------------- */
#offer{
    background-image:linear-gradient(rgba(0,9,7,0.5),rgba(5,6,6,0.6)) ,url("../images/offer.jpg");
    /* width: 100%; */
    margin: 100px 0;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.my-offer{
    padding: 100px 0;
    text-align: center;
}
.my-offer h1{
    
    color: white;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.my-offer a{
    text-decoration: none;
    
    color: white;
    padding: 15px 25px;
    background: #1e266d;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 6px;
}
.my-offer a:hover{
    background-color: #00AEEF;
}

/* footer section start from here / */

footer{
    margin-top: 100px;
    background-image:linear-gradient(rgba(0,9,7,0.9),rgba(5,6,6,0.9)) ,url("../images/fotter.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 0;
}

.main-footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main-footer .footer-single{
    width: 23%;
}
.footer-single h2{
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 0;
}
.footer-single ul {
    list-style-type: none;
}
.footer-single li{
    line-height: 30px;
    transition: 0.3s ease;
}
.footer-single li:hover{
    transform: translateX(5px);
}
.footer-single a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s ease;
}
.footer-single a:hover{
    color: #00AEEF;
    
}
.footer-single a i{
    margin-right: 7px;
}

.footer-single form input {
        width: 172px;
        height: 41px;
        border: none;
        outline: none;
        margin-left: -89px;
         
}
.footer-single button{
        padding: 11px 20px;
        background-color: #1e266d;
        border: none;
        margin-left: -5px;
        margin-bottom: 20px;
    
}
/* social links start here  */
.social-links{

    display: flex;
    align-items: center;

}
.social-links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;

}
.social-links ul li a{
    margin-left: 14px;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 50px;
    overflow: hidden;
    
    
}
.social-links ul li a i{
    transition: 0.3s ease;
}
.social-links ul li a:hover i{
    transform: scale(1.1);
}
.copyright{
    text-align: center;
    margin-top: 59px;
    color: white;
}